/********** reset **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/***************************/

img {
  display: block;
}

/**menu**/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 400px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  transition: color 0.3s;
  text-align: end;
}

.burger .line {
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }
}

/**generelt**/
main {
  max-width: 1400px;
  margin-inline: auto;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.margin_ekstra {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

h1 {
  font-size: clamp(3rem, 19vw, 19rem);
  text-align: center;
  white-space: nowrap;
  position: relative; /*For at kunne placere footer h2*/
  overflow: visible;
}

.marginh1 {
  margin-top: 9rem;
}

.h2_relativt {
  position: absolute;
  bottom: 2.6em;
  transform: translateX(-279.4%); /*her er % af elementets egen bredte */
}

/* .pseudo_p {
  position: relative;
}

.pseudo_p::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 7em;
  position: absolute;
  left: 0.1em;
  top: 0;
} */

/* h4 {
  margin-bottom: 0.5rem;
} */

/* p {
  margin-bottom: 7rem;
  margin-top: 1rem;
} */

/** forside **/
.cirkel {
  width: 11%;
  height: auto;
  position: sticky;
  top: 46%;
  left: 8%;
  z-index: 1000;
  /* display: none; */
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CTA {
  margin-bottom: 14rem;
  margin-top: 1rem;
}

/** projekter **/
.margin_projekter {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.item {
  position: relative;
  /* text-decoration: none; */
}

.item img {
  width: 100%;
  height: auto;
}

.item_nummer {
  position: absolute;
  top: 88%;
  left: 85%;
}

/** om mig **/
/**grid**/
.grid_9 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto; /** så store som indholdet**/
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.portraert {
  grid-column: 5 / span 6;
  grid-row: 1;
  margin-bottom: 2rem;
  max-width: 300px; /** for at det ikke bliver for stort**/
  height: auto;
  justify-self: center; /**når det ikke følger med kolonnerne længere **/
}

.lottie {
  grid-column: 3 / span 8;
  grid-row: 2;
}

.underoverskrift {
  grid-column: 1 / span 4;
  grid-row: 3;
}

.tekst {
  grid-column: 3 / span 8;
  grid-row: 4;
  margin-bottom: 2rem;
}

.style {
  grid-column: 3 / span 8;
  grid-row: 5;
}

.kompetencer {
  grid-column: 3 / span 8;
  grid-row: 6;
  margin-top: 0;
}
/******/

.margin_bottom {
  margin-bottom: 2rem;
}

/**baggrunds diagram**/
.style {
  margin-bottom: 7rem;
}

.tidslinje {
  position: relative;
  margin-top: 2rem;
}

.lodret_linje {
  position: absolute;
  left: 87px;
  top: -18px;
}

.event {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.year {
  margin-right: 10px;
}

.linje {
  margin-right: 10px;
}
/******/
/**kompetence diagram**/
.kompetencer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}

.kompetence {
  display: flex;
  align-items: center;
}

.kompetence p {
  width: 215px;
}

.prikker {
  width: 150px;
  height: auto;
}
/******/

/** footer **/
footer {
  padding-top: 4rem;
}

.footer_h2 {
  position: absolute;
  bottom: -0.4em;
  transform: translateX(-235%);
}

.SoMe {
  display: flex;
  gap: 0.5rem;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 6rem;
  padding-bottom: 8.5rem;
}

.footer_punkter {
  grid-column: 2;
  grid-row: 1;
}

.kontakt {
  grid-column: 3;
  grid-row: 3;
}

/**media specifik til cirkel**/
@media (min-width: 600px) and (max-width: 750px) {
  .cirkel {
    top: 35% !important; /**mellem queryen overskrev**/
    left: 8% !important;
  }
}
/****************************/

@media (min-width: 600px) {
  /**generelt**/
  h3 {
    margin-top: -5rem;
  }

  .margin_ekstra {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  /** forside **/
  .marginh1 {
    margin-top: 1rem;
  }

  .CTA {
    margin-bottom: 9rem;
    margin-top: 1rem;
  }

  .cirkel {
    top: 45%;
    left: 8%;
  }

  /**projekter**/
  .margin_projekter {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .galleri {
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
  }

  /** om mig **/
  /**grid**/
  .grid_9 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto; /** så store som indholdet**/
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .portraert {
    grid-column: 7 / span 4;
    grid-row: 1;
    margin-bottom: 0;
    justify-self: end;
  }

  .lottie {
    grid-column: 3 / span 4;
    grid-row: 1;
  }

  .underoverskrift {
    grid-column: 3 / span 4;
    grid-row: 2;
  }

  .tekst {
    grid-column: 4 / span 6;
    grid-row: 3;
    /* margin-bottom: 2rem; */
  }

  .style {
    grid-column: 3 / span 6;
    grid-row: 5;
  }

  .kompetencer {
    grid-column: 6 / span 6;
    grid-row: 6;
    margin-top: 0;
  }
  /******/
  /**baggrunds diagram**/
  .style {
    margin-bottom: 10rem;
  }

  .tidslinje {
    margin-top: 4rem;
  }

  .lodret_linje {
    left: 111px;
    top: -34px;
  }
  /******/

  /** footer **/
  footer {
    padding-top: 2rem;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
  }

  .footer_punkter {
    grid-column: 2;
    grid-row: 3;
  }

  .kontakt {
    grid-column: 3;
    grid-row: 3;
  }

  .SoMe {
    gap: 1rem;
  }
}

/**mediaq til store skærme**/
@media (min-width: 1200px) {
  /**forside**/
  .cirkel {
    top: 60%;
    left: 8%;
  }

  /**projekter**/
  .galleri {
    gap: 6rem;
  }

  .margin_projekter {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  /**om mig**/
  .margin_ekstra {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .lottie {
    scale: 1.2;
    align-self: center; /**centrere til portræt**/
  }
}
