/********** reset **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/***************************/

img {
  display: block;
}

/**menu**/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 400px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  transition: color 0.3s;
  text-align: end;
}

.burger .line {
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }
}

/**generelt**/
main {
  max-width: 1400px;
  margin-inline: auto;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.margin_ekstra {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

h1 {
  font-size: clamp(3rem, 19vw, 19rem); /**dynamisk str, ideelt 19% af vw**/
  text-align: center;
  white-space: nowrap; /**intet break**/
  position: relative; /*For at kunne placere footer h2*/
  overflow: visible;
}

.marginh1 {
  margin-top: 9rem;
}

.h2_relativt {
  position: absolute;
  bottom: 2.6em;
  transform: translateX(-279.4%); /*her er % af elementets egen bredte på X aksen*/
}

/* .pseudo_p {
  position: relative;
}

.pseudo_p::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 7em;
  position: absolute;
  left: 0.1em;
  top: 0;
} */

/* h4 {
  margin-bottom: 0.5rem;
} */

/* p {
  margin-bottom: 7rem;
  margin-top: 1rem;
} */

/** forside **/
.cirkel {
  width: 11%;
  height: auto;
  position: sticky;
  top: 46%;
  left: 8%;
  z-index: 1000;
  /* display: none; */
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CTA {
  margin-bottom: 14rem;
  margin-top: 1rem;
}

/** projekter **/
.margin_projekter {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.item {
  position: relative;
  /* text-decoration: none; */
}

.item img {
  width: 100%;
  height: auto;
}

.item_nummer {
  position: absolute;
  top: 88%;
  left: 85%;
}

/*********************fælles grid**********************/
.grid_9 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto; /** indholdets højde**/
  margin-top: 2rem;
  margin-bottom: 4rem;
}
/*****************************************************/
/**om mig**/
.portraert {
  grid-column: 5 / span 6;
  grid-row: 1;
  margin-bottom: 2rem;
  max-width: 300px; /** for at det ikke bliver for stort**/
  height: auto;
  justify-self: center; /**når det ikke følger med kolonnerne længere **/
}

.lottie {
  grid-column: 3 / span 8;
  grid-row: 2;
}

.underoverskrift {
  grid-column: 1 / span 4;
  grid-row: 3;
}

.tekst {
  grid-column: 3 / span 8;
  grid-row: 4;
  margin-bottom: 2rem;
}

.style {
  grid-column: 3 / span 8;
  grid-row: 5;
}

.kompetencer {
  grid-column: 3 / span 8;
  grid-row: 6;
  margin-top: 0;
}
/**temaside 3**/
.underoverskrift1 {
  grid-column: 2 / span 4;
  grid-row: 1;
  margin-top: 2rem;
}

.tekst1 {
  grid-column: 3 / span 7;
  grid-row: 2;
  margin-bottom: 2rem;
}

.foto1 {
  grid-column: 1 / span 10;
  grid-row: 3;
}

.underoverskrift2 {
  grid-column: 2 / span 4;
  grid-row: 4;
  margin-top: 3rem;
}

.tekst2 {
  grid-column: 3 / span 7;
  grid-row: 5;
  margin-bottom: 2rem;
}

.foto_full2 {
  grid-column: 1 / span 10;
  grid-row: 6;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw; /* Fyld viewportens bredde */
}

.underoverskrift3 {
  grid-column: 2 / span 4;
  grid-row: 7;
  margin-top: 3rem;
}

.tekst3a {
  grid-column: 3 / span 7;
  grid-row: 8;
  margin-bottom: 2rem;
}

.tekst3b {
  grid-column: 3 / span 7;
  grid-row: 9;
  margin-bottom: 2rem;
}

.foto_full3 {
  grid-column: 1 / span 10;
  grid-row: 10;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

.underoverskrift4 {
  grid-column: 2 / span 4;
  grid-row: 11;
  margin-top: 3rem;
}

.tekst4 {
  grid-column: 3 / span 7;
  grid-row: 12;
  margin-bottom: 2rem;
}

.foto_full4 {
  grid-column: 1 / span 10;
  grid-row: 13;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

.underoverskrift5 {
  grid-column: 2 / span 4;
  grid-row: 14;
  margin-top: 2rem;
}

.tekst5 {
  grid-column: 3 / span 7;
  grid-row: 15;
  margin-bottom: 2rem;
}

.link1 {
  grid-column: 2 / span 3;
  grid-row: 16;
}

/**temaside 2**/
.foto3 {
  grid-column: 1 / span 10;
  grid-row: 10;
}

.foto_full4_side2 {
  grid-column: 1 / span 10;
  grid-row: 13;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

/**temaside 4**/
.foto_full1 {
  grid-column: 1 / span 10;
  grid-row: 3;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

.tekst3_side4 {
  grid-column: 3 / span 7;
  grid-row: 8;
  margin-bottom: 2rem;
}

.foto3_side4 {
  grid-column: 3 / span 8;
  grid-row: 9;
}

.underoverskrift4_side4 {
  grid-column: 2 / span 4;
  grid-row: 10;
  margin-top: 3rem;
}

.tekst4_side4 {
  grid-column: 3 / span 7;
  grid-row: 11;
  margin-bottom: 2rem;
}

.foto4_side4 {
  grid-column: 1 / span 10;
  grid-row: 12;
  margin: 0;
}

.underoverskrift5_side4 {
  grid-column: 2 / span 4;
  grid-row: 13;
  margin-top: 2rem;
}

.tekst5_side4 {
  grid-column: 3 / span 7;
  grid-row: 14;
  margin-bottom: 2rem;
}

.link1_side4 {
  grid-column: 2 / span 3;
  grid-row: 15;
}

/**temaside 5**/
.h4_plus_1 {
  grid-column: 2 / span 5;
  grid-row: 1;
}

.underoverskrift1_side5 {
  grid-column: 2 / span 4;
  grid-row: 2;
  margin-top: 1rem;
}

.tekst1_side5 {
  grid-column: 3 / span 7;
  grid-row: 3;
  margin-bottom: 2rem;
}

.foto_full1_side5 {
  grid-column: 1 / span 10;
  grid-row: 4;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

.underoverskrift2_side5 {
  grid-column: 2 / span 4;
  grid-row: 5;
  margin-top: 3rem;
}

.tekst2_side5 {
  grid-column: 3 / span 7;
  grid-row: 6;
  margin-bottom: 2rem;
}

.foto2_side5 {
  grid-column: 7 / span 3;
  grid-row: 7;
}

.underoverskrift3_side5 {
  grid-column: 2 / span 4;
  grid-row: 8;
  margin-top: 3rem;
}

.tekst3_side5 {
  grid-column: 3 / span 7;
  grid-row: 9;
  margin-bottom: 2rem;
}

.video {
  grid-column: 1 / span 10;
  grid-row: 10;
  width: 100%;
  aspect-ratio: 16 / 9; /**bevarer propertioner**/
  border: none;
}

.underoverskrift4_side5 {
  grid-column: 2 / span 4;
  grid-row: 11;
  margin-top: 3rem;
}

.tekst4_side5 {
  grid-column: 3 / span 7;
  grid-row: 12;
  margin-bottom: 2rem;
}

.link1_side5 {
  grid-column: 2 / span 3;
  grid-row: 13;
}
/**virksomhedssite**/
.h4_plus_2 {
  grid-column: 2 / span 5;
  grid-row: 14;
  margin-top: 7rem;
}

.underoverskrift5_side5 {
  grid-column: 2 / span 4;
  grid-row: 15;
  margin-top: 1rem;
}

.tekst5_side5 {
  grid-column: 3 / span 7;
  grid-row: 16;
  margin-bottom: 2rem;
}

.foto5_side5 {
  grid-column: 7 / span 3;
  grid-row: 17;
}

.underoverskrift6_side5 {
  grid-column: 2 / span 4;
  grid-row: 18;
  margin-top: 3rem;
}

.tekst6_side5 {
  grid-column: 3 / span 7;
  grid-row: 19;
  margin-bottom: 2rem;
}

.foto6_side5 {
  grid-column: 1 / span 10;
  grid-row: 20;
}

.underoverskrift7_side5 {
  grid-column: 2 / span 4;
  grid-row: 21;
  margin-top: 3rem;
}

.tekst7_side5 {
  grid-column: 3 / span 7;
  grid-row: 22;
  margin-bottom: 2rem;
}

.foto7_side5 {
  grid-column: 1 / span 10;
  grid-row: 23;
}

.underoverskrift8_side5 {
  grid-column: 2 / span 4;
  grid-row: 24;
  margin-top: 3rem;
}

.tekst8_side5 {
  grid-column: 3 / span 7;
  grid-row: 25;
  margin-bottom: 2rem;
}

.foto_full8_side5 {
  grid-column: 1 / span 10;
  grid-row: 26;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
}

.underoverskrift9_side5 {
  grid-column: 2 / span 4;
  grid-row: 27;
  margin-top: 3rem;
}

.tekst9_side5 {
  grid-column: 3 / span 7;
  grid-row: 28;
  margin-bottom: 2rem;
}

.link2_side5 {
  grid-column: 2 / span 3;
  grid-row: 29;
}

/******/

/** om mig **/
.margin_bottom {
  margin-bottom: 2rem;
}

/**baggrunds diagram**/
.style {
  margin-bottom: 7rem;
}

.tidslinje {
  position: relative;
  margin-top: 2rem;
}

.lodret_linje {
  position: absolute;
  left: 87px;
  top: -18px;
}

.event {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.year {
  margin-right: 10px;
}

.linje {
  margin-right: 10px;
}
/******/
/**kompetence diagram**/
.kompetencer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}

.kompetence {
  display: flex;
  align-items: center;
}

.kompetence p {
  width: 215px;
}

.prikker {
  width: 150px;
  height: auto;
}
/******/
/**tema 2**/
.link1 {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/** footer **/
footer {
  padding-top: 4rem;
}

.footer_h2 {
  position: absolute;
  bottom: -0.4em;
  transform: translateX(-235%);
}

.SoMe {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.SoMe a {
  display: flex;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 6rem;
  padding-bottom: 8.5rem;
}

.footer_punkter {
  grid-column: 2;
  grid-row: 1;
}

.kontakt {
  grid-column: 3;
  grid-row: 3;
}

/**media specifik til cirkel, h3 & kompetence diagram**/
@media (min-width: 600px) and (max-width: 750px) {
  .cirkel {
    top: 35% !important; /**mellem queryen overskrev**/
    left: 8% !important;
  }

  .kompetencer {
    grid-column: 4 / span 6 !important;
    grid-row: 6 !important;
    margin-top: 0 !important;
  }

  .lottie {
    grid-column: 1 / span 4 !important;
    align-self: flex-end !important; /**bunden af portrættet**/
  }
}
/****************************/

@media (min-width: 600px) {
  /**generelt**/
  h3 {
    margin-top: -5rem;
  }

  .margin_ekstra {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  /** forside **/
  .marginh1 {
    margin-top: 1rem;
  }

  .CTA {
    margin-bottom: 9rem;
    margin-top: 1rem;
  }

  .cirkel {
    top: 45%;
    left: 8%;
  }

  /**projekter**/
  .margin_projekter {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .galleri {
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
  }

  /** om mig **/
  /*********************fælles grid**********************/
  .grid_9 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  /*****************************************************/
  /**om mig**/
  .portraert {
    grid-column: 7 / span 4;
    grid-row: 1;
    margin-bottom: 0;
    justify-self: end;
  }

  .lottie {
    grid-column: 3 / span 4;
    grid-row: 1;
    align-self: center; /**centrere til portræt**/
  }

  .underoverskrift {
    grid-column: 3 / span 4;
    grid-row: 2;
  }

  .tekst {
    grid-column: 4 / span 6;
    grid-row: 3;
    margin-bottom: 6rem;
  }

  .style {
    grid-column: 3 / span 6;
    grid-row: 5;
  }

  .kompetencer {
    grid-column: 6 / span 6;
    grid-row: 6;
    margin-top: 0;
  }
  /**temasiderne**/
  /**temaside 3**/
  .underoverskrift1 {
    grid-column: 5 / span 4;
    grid-row: 1;
    margin-top: 2rem;
  }

  .tekst1 {
    grid-column: 6 / span 5;
    grid-row: 2;
    margin-bottom: 4rem;
  }

  .foto1 {
    grid-column: 1 / span 6;
    grid-row: 3;
  }

  .underoverskrift2 {
    grid-column: 2 / span 4;
    grid-row: 4;
    margin-top: 4rem;
  }

  .tekst2 {
    grid-column: 3 / span 5;
    grid-row: 5;
    margin-bottom: 4rem;
  }

  .foto_full2 {
    grid-column: 4 / span 7;
    grid-row: 6;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .underoverskrift3 {
    grid-column: 2 / span 4;
    grid-row: 7;
    margin-top: 4rem;
  }

  .tekst3a {
    grid-column: 3 / span 5;
    grid-row: 8;
    margin-bottom: 1rem;
  }

  .tekst3b {
    grid-column: 5 / span 5;
    grid-row: 9;
    margin-bottom: 4rem;
  }

  .foto_full3 {
    grid-column: 1 / span 7;
    grid-row: 10;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .underoverskrift4 {
    grid-column: 5 / span 4;
    grid-row: 11;
    margin-top: 4rem;
  }

  .tekst4 {
    grid-column: 6 / span 5;
    grid-row: 12;
    margin-bottom: 4rem;
  }

  .foto_full4 {
    grid-column: 1 / span 10;
    grid-row: 13;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .underoverskrift5 {
    grid-column: 2 / span 4;
    grid-row: 14;
    margin-top: 4rem;
  }

  .tekst5 {
    grid-column: 3 / span 5;
    grid-row: 15;
    margin-bottom: 4rem;
  }

  .link1 {
    grid-column: 2 / span 3;
    grid-row: 16;
    margin-bottom: 6rem;
  }
  /**temaside 2**/
  .foto3 {
    grid-column: 1 / span 5;
    grid-row: 10;
  }

  .foto_full4_side2 {
    grid-column: 1 / span 7;
    grid-row: 13;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /**temaside 4**/
  .foto_full1 {
    grid-column: 1 / span 7;
    grid-row: 3;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .tekst3_side4 {
    grid-column: 3 / span 5;
    grid-row: 8;
    margin-bottom: 4rem;
  }

  .foto3_side4 {
    grid-column: 7 / span 4;
    grid-row: 9;
  }

  .underoverskrift4_side4 {
    grid-column: 5 / span 4;
    grid-row: 10;
    margin-top: 4rem;
  }

  .tekst4_side4 {
    grid-column: 6 / span 5;
    grid-row: 11;
    margin-bottom: 4rem;
  }

  .foto4_side4 {
    grid-column: 1 / span 5;
    grid-row: 12;
    margin: 0;
  }

  .underoverskrift5_side4 {
    grid-column: 5 / span 4;
    grid-row: 13;
    margin-top: 4rem;
  }

  .tekst5_side4 {
    grid-column: 6 / span 5;
    grid-row: 14;
    margin-bottom: 2rem;
  }

  .link1_side4 {
    grid-column: 5 / span 3;
    grid-row: 15;
    margin-bottom: 6rem;
  }

  /**temaside 5**/
  .h4_plus_1 {
    grid-column: 5 / span 4;
    grid-row: 1;
  }

  .underoverskrift1_side5 {
    grid-column: 5 / span 4;
    grid-row: 2;
    margin-top: 1rem;
  }

  .tekst1_side5 {
    grid-column: 6 / span 5;
    grid-row: 3;
    margin-bottom: 4rem;
  }

  .foto_full1_side5 {
    grid-column: 1 / span 5;
    grid-row: 4;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .underoverskrift2_side5 {
    grid-column: 2 / span 4;
    grid-row: 5;
    margin-top: 4rem;
  }

  .tekst2_side5 {
    grid-column: 3 / span 5;
    grid-row: 6;
    margin-bottom: 4rem;
  }

  .foto2_side5 {
    grid-column: 9 / span 2;
    grid-row: 7;
  }

  .underoverskrift3_side5 {
    grid-column: 2 / span 4;
    grid-row: 8;
    margin-top: 4rem;
  }

  .tekst3_side5 {
    grid-column: 3 / span 5;
    grid-row: 9;
    margin-bottom: 4rem;
  }

  .video {
    grid-column: 4 / span 7;
    grid-row: 10;
  }

  .underoverskrift4_side5 {
    grid-column: 2 / span 4;
    grid-row: 11;
    margin-top: 4rem;
  }

  .tekst4_side5 {
    grid-column: 3 / span 5;
    grid-row: 12;
    margin-bottom: 2rem;
  }

  .link1_side5 {
    grid-column: 2 / span 3;
    grid-row: 13;
  }
  /**virksomhedssite**/
  .h4_plus_2 {
    grid-column: 5 / span 4;
    grid-row: 14;
    margin-top: 5rem;
  }

  .underoverskrift5_side5 {
    grid-column: 5 / span 4;
    grid-row: 15;
    margin-top: 1rem;
  }

  .tekst5_side5 {
    grid-column: 6 / span 5;
    grid-row: 16;
    margin-bottom: 2rem;
  }

  .foto5_side5 {
    grid-column: 1 / span 2;
    grid-row: 17;
  }

  .underoverskrift6_side5 {
    grid-column: 5 / span 4;
    grid-row: 18;
    margin-top: 4rem;
  }

  .tekst6_side5 {
    grid-column: 6 / span 5;
    grid-row: 19;
    margin-bottom: 4rem;
  }

  .foto6_side5 {
    grid-column: 1 / span 6;
    grid-row: 20;
  }

  .underoverskrift7_side5 {
    grid-column: 2 / span 4;
    grid-row: 21;
    margin-top: 4rem;
  }

  .tekst7_side5 {
    grid-column: 3 / span 5;
    grid-row: 22;
    margin-bottom: 4rem;
  }

  .foto7_side5 {
    grid-column: 5 / span 6;
    grid-row: 23;
  }

  .underoverskrift8_side5 {
    grid-column: 2 / span 4;
    grid-row: 24;
    margin-top: 4rem;
  }

  .tekst8_side5 {
    grid-column: 3 / span 5;
    grid-row: 25;
    margin-bottom: 4rem;
  }

  .foto_full8_side5 {
    grid-column: 1 / span 7;
    grid-row: 26;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .underoverskrift9_side5 {
    grid-column: 5 / span 4;
    grid-row: 27;
    margin-top: 4rem;
  }

  .tekst9_side5 {
    grid-column: 6 / span 5;
    grid-row: 28;
    margin-bottom: 2rem;
  }

  .link2_side5 {
    grid-column: 5 / span 3;
    grid-row: 29;
    margin-bottom: 6rem;
  }

  /******/
  /**baggrunds diagram (om mig)**/
  .style {
    margin-bottom: 10rem;
  }

  .tidslinje {
    margin-top: 4rem;
  }

  .lodret_linje {
    left: 111px;
    top: -34px;
  }
  /******/

  /** footer **/
  footer {
    padding-top: 2rem;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
  }

  .footer_punkter {
    grid-column: 2;
    grid-row: 3;
  }

  .kontakt {
    grid-column: 3;
    grid-row: 3;
  }

  .SoMe {
    gap: 1rem;
  }
}

/**mediaq til store skærme**/
@media (min-width: 1200px) {
  /**forside**/
  .cirkel {
    top: 60%;
    left: 8%;
  }

  /**projekter**/
  .galleri {
    gap: 6rem;
  }

  .margin_projekter {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  /**om mig**/
  .margin_ekstra {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .lottie {
    scale: 1.2;
  }
}
