/*** css variabler ***/
:root {
  /**farver**/
  --primary: #383838;
  --secondary: #717171;
  --accent: #ff6d00;
  --white: #f5f1e6;

  /** font size **/
  /* --h1mobil: 2rem;
  --h1desktop: 2.5rem;

  --h2mobil: 1.75rem;
  --h2desktop: 2rem; */

  --h3mobil: 2.5rem;
  --h3desktop: 5rem;

  --h4mobil: 1.8rem;
  --h4desktop: 3rem;

  --pmobil: 1.1rem;
  --pdesktop: 1.5rem;

  --minitekstmobil: 1rem;
  --minitekstdesktop: 1.1rem;

  /*** space ***/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

/** adobe skrifttyper 
Futura PT Light
font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: normal;

Futura PT Book
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Medium
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;

Futura PT Bold
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Bold Oblique
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: italic;
**/

/** menu **/
header {
  background-color: var(--white);
}

.logo img {
  width: 40px;
  height: 40px;
}

.menu a {
  color: var(--primary);
  text-decoration: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--pmobil);
}

.menu a:hover {
  color: var(--accent);
  font-weight: bold;
  text-decoration: underline; /** line-through ? **/
  text-decoration-thickness: 2px;
}

.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--primary);
}

@media screen and (max-width: 700px) {
  nav.active .menu {
    background-color: var(--white);
  }

  nav.active .menu a {
    font-size: var(--pmobil);
  }

  .logo img {
    width: 30px;
    height: 30px;
  }
}

/** generelt **/
img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--white);
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
}

.h2_relativt {
  font-size: 0.35em;
  color: var(--secondary);
}

/* .pseudo_p::after {
  background-color: var(--accent);
}  */

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
  font-size: var(--h3mobil);
}

h4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
  font-size: var(--h4mobil);
}

p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
  font-size: var(--pmobil);
}

.white {
  color: var(--white);
}

.accent {
  color: var(--accent);
}

#accent {
  background-color: var(--accent);
}

/** forside **/
.CTA {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
  text-decoration: none;
  font-size: var(--minitekstmobil);
}

/** projekter **/
.item_nummer {
  font-size: 6.5vw;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--accent);
}

.item img {
  filter: grayscale(100%);
  transition: 0.5s;
}

.item:hover img {
  filter: none;
  transform: scale(1.1);
  transition: 0.5s;
}

/****** om mig ********/
/**baggrunds diagram**/
.style {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--pmobil);
  color: var(--primary);
}

.lodret_linje {
  width: 2px;
  height: 168%;
  background-color: var(--primary);
}

.linje {
  width: 64px;
  height: 2px;
  background-color: var(--primary);
}
/********/
/**tema 2**/
.link1 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--h4mobil);
  color: var(--primary);
  text-decoration: underline 3px;
}

.pil {
  width: 2rem;
  height: auto;
}

/** footer **/

footer {
  background-color: var(--primary);
}

.footer_h2 {
  font-size: 0.35em;
}

.footer_punkter {
  list-style: none;
}

.footer_punkter a {
  color: var(--white);
  text-decoration: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--pmobil);
}

.footer_punkter a:hover {
  color: var(--accent);
  font-weight: bold;
  text-decoration: underline; /** line-through ? **/
  text-decoration-thickness: 2px;
}

.footer_h4 {
  font-size: var(--pmobil);
}

.SoMe {
  width: 125px;
  height: auto;
}

/****/

@media (min-width: 600px) {
  /**generelt**/
  h3 {
    font-size: var(--h3desktop);
  }

  h4 {
    font-size: var(--h4desktop);
  }

  p {
    font-size: var(--pdesktop);
  }

  /** forside **/
  .CTA {
    font-size: var(--pdesktop);
  }

  /****** om mig ********/
  /**baggrunds diagram**/
  .style {
    font-size: var(--pdesktop);
  }

  .lodret_linje {
    width: 3px;
    height: 189%;
  }

  .linje {
    width: 176px;
    height: 3px;
  }
  /********/

  /**footer**/
  .footer_punkter a {
    font-size: var(--pdesktop);
  }

  .footer_h4 {
    font-size: var(--pdesktop);
  }

  .SoMe {
    width: 213px;
    height: auto;
  }
}
